<h1>Create Menu Item</h1>
for menu: {{ model.menuId }} <br />
parent: {{ model.parentId }}
<form #createForm="ngForm" class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="model.title" required placeholder="Enter menu item name" #title="ngModel" id="title" name="title" [disabled]="busy" minlength="3">
        <mat-hint *ngIf="title.invalid && (title.dirty || title.touched)">
            <mat-error *ngIf="title.errors.required">Menu Item name is required</mat-error>
            <mat-error *ngIf="title.errors.minlength">Menu Item name must be at least 3 characters</mat-error>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="model.path" required placeholder="Enter path" #path="ngModel" id="path" name="path" [disabled]="busy" minlength="3">
        <mat-hint *ngIf="path.invalid && (path.dirty || path.touched)">
            <mat-error *ngIf="path.errors.required">Menu Item path is required</mat-error>
            <mat-error *ngIf="path.errors.minlength">Menu Item path must be at least 3 characters</mat-error>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="model.icon" placeholder="Icon" #icon="ngModel" id="icon" name="icon" [disabled]="busy">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="OnSubmit()" *ngIf="!busy" [disabled]="!createForm.valid || busy">
        CREATE MENU ITEM
    </button>
    <mat-spinner *ngIf="busy" diameter="30"></mat-spinner>
</form>