<h1>Edit Menu</h1>
<form #createForm="ngForm" class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="model.title" required placeholder="Enter menu title" #title="ngModel" id="title" name="title" [disabled]="busy" minlength="3">
        <mat-hint *ngIf="title.invalid && (title.dirty || title.touched)">
            <mat-error *ngIf="title.errors.required">Menu title is required</mat-error>
            <mat-error *ngIf="title.errors.minlength">Menu title must be at least 3 characters</mat-error>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Menu Position" [(ngModel)]="model.position" required id="position" name="position" #position="ngModel" [disabled]="busy">
            <mat-option value="Top">Top</mat-option>
            <mat-option value="Left">Left</mat-option>
            <mat-option value="Right">Right</mat-option>
            <mat-option value="Bottom">Bottom</mat-option>
        </mat-select>
        <mat-hint *ngIf="position.invalid && (position.dirty || position.touched)">
            <mat-error *ngIf="title.errors.required">Menu position is required</mat-error>
        </mat-hint>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="OnSubmit()" *ngIf="!busy" [disabled]="!createForm.valid || busy">
        UPDATE MENU
    </button>
    <mat-spinner *ngIf="busy" diameter="30"></mat-spinner>
</form>