<h1>
    Menus
    <a routerLink="./create" mat-fab matTooltip="Create Menu"><mat-icon>add</mat-icon></a>
</h1>
<mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
<div style="max-width: 600px">
<mat-accordion>
    <mat-expansion-panel *ngFor="let menu of menus">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ menu.title }} 
            </mat-panel-title>
            <mat-panel-description>
                Items: {{ menu.menuItems.length }} Position: {{ menu.position }}
                <button routerLink="./edit/{{ menu.menuId }}" mat-icon-button matTooltip="Edit {{ menu.title }}"><mat-icon>edit</mat-icon></button>
                <button (click)="deleteMenu(menu.menuId)" color="warn" mat-icon-button matTooltip="Delete {{ menu.title }}"><mat-icon>delete</mat-icon></button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!--Sub Items-->
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of menu.menuItems">
                <mat-expansion-panel-header *ngIf="item.parentId == null">
                    <mat-panel-title>
                        {{ item.title }}:
                    </mat-panel-title>
                    <mat-panel-description>
                        <a routerLink="{{item.path}}"><i>{{ item.path }}</i></a>
                        <button routerLink="./{{menu.menuId}}/item/{{item.menuItemId}}/create" mat-icon-button matTooltip="Add sub item"><mat-icon>add</mat-icon></button>
                        <button (click)="deleteMenuItem(item.menuItemId)" color="warn" mat-icon-button matTooltip="Delete {{ item.title }}"><mat-icon>delete</mat-icon></button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list *ngIf="item.parentId == null">
                    <span *ngFor="let subitem of menu.menuItems">
                        <mat-list-item *ngIf="subitem.parentId == item.menuItemId">
                            <mat-icon>{{subitem.icon}}</mat-icon>{{subitem.title}}:<a routerLink="{{item.path + subitem.path}}">{{item.path + subitem.path}}</a>
                            <button (click)="deleteMenuItem(subitem.menuItemId)" color="warn" mat-icon-button matTooltip="Delete {{ subitem.title }}"><mat-icon>delete</mat-icon></button>
                        </mat-list-item>
                    </span>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <!--End Sub Items-->
        <button routerLink="./{{menu.menuId}}/item/create" color="accent" mat-button>Add Menu Item</button>
    </mat-expansion-panel>
</mat-accordion>
</div>