.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
  line-height: 48px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}