<div class="page-wrapper list-page">
    <div class="list-home">
        <div class="page-name">Users</div>

        <!----mat-form-field>
            <mat-icon matSuffix>search</mat-icon><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field-->

        <div class="flex-frame">
            <div class="flex-item">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Search users..." aria-label="State" [matAutocomplete]="auto" [formControl]="searchUsersCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                    </mat-autocomplete>
                </mat-form-field>

                <form [formGroup]="tenantForm">
                  <mat-form-field style="margin-top: 15px;">
                    <mat-select formControlName="tenantId" name="tenantId" (selectionChange)="tenantChanged($event)">
                        <mat-option *ngFor="let tenant of tenants" [value]="tenant.tenantId">
                            {{tenant.tenantName}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>

            </div>
            <div class="flex-item">
                <button mat-raised-button color="primary" matTooltip="Create new user" (click)="addUser()"><mat-icon>add</mat-icon>Add User</button>
            </div>
        </div>

        <div class="container mat-elevation-z8">
            <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>

            <table mat-table [dataSource]="dataSourceArray" matSort>
                <li *ngFor="let item of dataSourceArray | paginate: config"> </li>
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                    <td mat-cell *matCellDef="let user"> {{ user.firstName }} </td>
                </ng-container>
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                    <td mat-cell *matCellDef="let user" tabindex="1"> {{ user.lastName }} </td>
                </ng-container>
                <ng-container matColumnDef="emailAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </th>
                    <td mat-cell *matCellDef="let user" tabindex="2"> {{ user.emailAddress }} </td>
                </ng-container>
                <ng-container matColumnDef="tenantName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenant Name</th>
                    <td mat-cell *matCellDef="let user" tabindex="3"> {{ user.tenant.tenantName }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let user">
                        <button (click)="viewUser(user)" class="action-icon" mat-icon-button color="primary" matTooltip="Edit record" [matTooltipPosition]="tooltipPosition" focusable="false">
                            <mat-icon class="action-ico edit">edit</mat-icon>
                        </button>
                        <button *ngIf="!user.deleted && currentUser.userId !== user.userId" (click)="openDialog(user, 'D')" class="action-icon" mat-icon-button color="primary" matTooltip="Delete record" [matTooltipPosition]="tooltipPosition" focusable="false">
                            <mat-icon class="action-ico delete">delete</mat-icon>
                        </button>
                        <button *ngIf="user.deleted && currentUser.userId !== user.userId" (click)="openDialog(user, 'R')" class="action-icon" mat-icon-button color="primary" matTooltip="Re-enable record" [matTooltipPosition]="tooltipPosition" focusable="false">
                            <mat-icon class="action-ico delete_outline">delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-col"></tr>
            </table>

            <div id="paging-container" *ngIf="isRecordsAvailable; else noRecord">
                <div id="page-items">

                    Items per page:
                    <mat-select [(value)]="selected" class="list">
                        <mat-option *ngFor="let option of itemsPerPageOptions" (click)="onSetItemsPerPage(option)" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </div>
                <div id="pagination-component">
                    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event; onPageChange($event)">
                        <div class="custom-pagination">
                            <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                                <span *ngIf="!p.isFirstPage()" (click)="p.previous()" class="arrow">
                                  < Previous
                                </span>
                            </div>
                            <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                <span class="page-label" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                                <div *ngIf="p.getCurrent() === page.value">
                                    <span class="page-label">{{ page.label }}</span>
                                </div>
                            </div>
                            <div class="pagination-next" [class.disabled]="p.isLastPage()">
                                <span *ngIf="!p.isLastPage()" (click)="p.next()" class="arrow">
                                  Next >
                                </span>
                            </div>
                        </div>
                    </pagination-template>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #noRecord>
    <div class="no-records">
        {{ls.get('table.noRecords')}}
    </div>
</ng-template> -->
