<div style="text-align: center" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="logo"></div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" class="form-container">
        <mat-card>
            <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
            <form #loginForm="ngForm">
                <div class="login-title">Sign in</div>
                <mat-card-content>
                    <mat-list *ngIf="errors && errors.length > 1" class="error-list">
                        <h3 mat-subheader>Form errors:</h3>
                        <mat-list-item *ngFor="let e of errors">{{ e }}</mat-list-item>
                    </mat-list>
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" [(ngModel)]="authModel.emailAddress" type="email" email="true" required #email="ngModel" id="email" name="email" [disabled]="busy">
                        <mat-hint *ngIf="email.invalid && (email.dirty || email.touched)">
                            <mat-error *ngIf="email.errors.required">Email address is required.</mat-error>
                            <mat-error *ngIf="email.errors.email && !email.errors.required">Email address invalid.</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required [(ngModel)]="authModel.password" #password="ngModel" id="password" name="password" [disabled]="busy">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-hint *ngIf="password.invalid && (password.dirty || password.touched)">
                            <mat-error *ngIf="password.errors.required">Password is required.</mat-error>
                        </mat-hint>
                    </mat-form-field>
                </mat-card-content>
                <button mat-raised-button color="primary" (click)="OnSubmit()" [disabled]="!loginForm.valid || busy">LOGIN</button><br/><br/>
                <!-- <button mat-raised-button color="blue" onclick="window.location.href = '/register';" [disabled]="busy">SIGN UP</button> -->

                <!-- <mat-card-content>
                    <p>
                        <a routerLink="/reset-password">Forgot Password?</a>
                    </p>
                </mat-card-content> -->
            </form>
        </mat-card>
    </div>
    <div class="footer" fxLayout="column" fxLayoutAlign="space-around center">
        <div> Fleet Control , {{ currentYear }}</div>
        <div> Trucking Solution Dev Build v1.0</div>
    </div>
</div>
