.holder{
    background: #F7F6F5;
    display: block;
    height: 100%;
    width: 100%;
}

.login-container{
    max-width: 400px;
    margin: 200px auto;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
}

.mat-card-header{
    margin-top: -24px !important;
    margin-left: -24px !important;
    margin-right: -24px !important;
    padding: 24px 24px 0px 24px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
}

.mat-card-avatar{
    font-size: 40px;
}

.mat-card-subtitle{
    font-weight: 300;
}

.mat-card-content{
    position: relative;
}

.mat-card-actions{
    padding-left: 16px;
    margin-bottom: 0px !important;
}

.reg-button{
    position: absolute;
    right: 0px;
    top: -30px;
}

.mat-progress-bar {
    display: block;
    height: 5px;
    overflow: hidden;
    position: absolute;
    transition: opacity 250ms linear;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}