<div style="display: block; width: 100%;">
    <mat-card class="login-container">
        <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
        <form #resetForm="ngForm">
            <mat-card-header>
                <mat-icon mat-card-avatar>account_circle</mat-icon>
                <mat-card-title>Forgot Password?</mat-card-title>
                <mat-card-subtitle>
                    {{ model.token ? "Enter your new password below" : "Enter your email below to reset your password" }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="form">
                    <mat-form-field *ngIf="!model.token">
                        <input matInput placeholder="Enter your email" required [(ngModel)]="model.emailAddress" type="email" email="true" #email="ngModel" id="email" name="email" [disabled]="busy">
                        <mat-hint *ngIf="email.invalid && (email.dirty || email.touched)">
                            <mat-error *ngIf="email.errors.required">Email address is required.</mat-error>
                            <mat-error *ngIf="email.errors.email && !email.errors.required">Email address invalid.</mat-error>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field *ngIf="model.token">
                        <input matInput placeholder="Enter your new password" [type]="hide ? 'password' : 'text'" required [(ngModel)]="model.newPassword" #password="ngModel" id="password" name="password"  [disabled]="busy">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-hint *ngIf="password.invalid && (password.dirty || password.touched)">
                            <mat-error *ngIf="password.errors.required">Password is required.</mat-error>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!resetForm.valid" (click)="OnSubmit()">{{ !model.token ? 'REQUEST PASSWORD RESET' : 'RESET PASSWORD' }}</button>
            </mat-card-actions><br />
            <mat-card-content>
                <p>
                    <a routerLink="/">Already have an account</a>
                </p>
                <p>
                    <a routerLink="/register">Create an account</a>
                </p>
            </mat-card-content>
        </form>
    </mat-card>
</div>