<div class="page-wrapper">

    <div class="foot">
        <div class="heading">
            <button mat-stroked-button color="primary" (click)=onViewUsers()>View all users</button>
        </div>
        <form [formGroup]="userForm" id="changeForm">

            <div class="section-fixed">
                Personal Details
            </div>
            <mat-card>
                <div class="section-info">
                    <mat-form-field>
                        <input matInput placeholder="Name" class="input" formControlName="firstName" name="firstName">
                        <mat-error *ngIf="userForm.get('firstName').invalid">{{ getErrorMessage('firstName') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Last Name" class="input" formControlName="lastName" name="lastName">
                        <mat-error *ngIf="userForm.get('lastName').invalid">{{ getErrorMessage('lastName') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Email Address" class="input" formControlName="emailAddress" name="emailAddress">
                    </mat-form-field>
                </div>
            </mat-card>

            <div class="section-fixed">
                Tenant
            </div>
            <mat-card>
                <div class="section-info">
                  <mat-form-field>
                      <input matInput placeholder="Tenant" class="input" formControlName="tenantName" name="tenantName" readonly>
                  </mat-form-field>
              </div>
            </mat-card>

            <div class="section-fixed">
                User Role
            </div>
            <mat-card>
                <div class="section-info">
                  <mat-form-field>
                    <mat-select placeholder="Role" formControlName="securityGroupId" name="securityGroupId">
                        <mat-option *ngFor="let securityGroup of securityGroups" [value]="securityGroup.securityGroupId">
                            {{securityGroup.groupName}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
            </mat-card>
        </form>
        <div class="action">
            <button mat-raised-button color="warn" (click)="onViewUsers()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="save()">Save</button>

        </div>
    </div>
</div>
