<div>
    <div class="content-container">
        <button tabindex="-1" mat-icon-button focusable="false" matTooltip="" matTooltipPosition="below" aria-label="Button that shows a red tooltip">
            <mat-icon>build</mat-icon>
        </button>
        <span class="dialog-header">{{ data.header }}</span>
    </div>

    <div class="confirm-body">
        <span class="content-span">{{ data.message }}</span>
    </div>

    <div class="confirm-button">
        <button mat-flat-button class="no-button" tabindex="0" id="cancelDel" (click)="onCancel()">No</button>
        <button mat-flat-button class="yes-button" tabindex="0" id="confirmDel" (click)="onConfirm()">Yes</button>
    </div>
</div>
