/*
    This will solve the vertical alignment problem of the icon inside the button
    since material icon fonts are always a little too small compared to button text
*/

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
    vertical-align: top;
    font-size: 1.25em;
}

.bin {
    color: red;
    position: relative;
    bottom: 2px;
    left: 0px;
    font-size: 1.3em;
    margin-right: 10px;
}

.dialog-header {
    font-weight: bold;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-icon-button {
    font-size: 17px;
}

.cancel {
    background-color: gray;
    color: white;
}

.no-button:hover {
    background: dimgray
}


/*  confirm dialog box 
    mat-confirm-dialog (customised dialog)
*/

.content-container {
    border-radius: .25em .25em 0 0;
    margin: 5px;
    color: black;
    display: flex;
    background: #F5F5F5;
    width: 97.5%;
    display: inline-block;
    margin-bottom: 10px;
}

.mat-dialog-container {
    border-radius: .25em;
    padding: 0px;
}

.confirm-body {
    margin-top: 30PX;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
}

.confirm-button {
    border-radius: .25em !important;
    margin-bottom: 15px;
    margin-right: 15px;
    float: right;
    height: 35px;
}

.yes-button {
    background-color: #fc7169;
    color: white;
    margin-left: 10px;
    border: 1px solid #fc7169;
}

#cancelDel:focus,
#confirmDel:focus {
    border: 1px solid #555454;
    // box-shadow: 0px 2px 22px 1px rgba($color: #000000, $alpha: 0.50)
}

.no-button {
    width: 25%;
    background-color: transparent;
    color: black;
    border: 1px solid silver;
}

.no-button:hover {
    background: #F5F5F5;
}