.main-toolbar{
      z-index: 2;
}
  
.toolbar-spacer{
      flex: 1 1 auto;
}

.circle{
      background: #aaaaaa;
      padding: 0px;
      border-radius: 50%;
      font-size: 14px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
}