<div class="page-wrapper">

    <div class="foot">
        <div class="heading">
            <button mat-stroked-button color="primary" (click)=onViewTenants()>View all tenants</button>
        </div>
        <form [formGroup]="tenantForm" id="changeForm">

            <div class="section-fixed">
                Tenant Details
            </div>
            <mat-card>
                <div class="section-info">
                    <mat-form-field>
                        <input matInput placeholder="Tenant Name" class="input" formControlName="tenantName" name="tenantName">
                        <mat-error *ngIf="tenantForm.get('tenantName').invalid">{{ getErrorMessage('tenantName') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Database" formControlName="databaseType" name="databaseType">
                            <mat-option *ngFor="let database of databases" [value]="database.data">
                                {{database.data}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card>

        </form>
        <div class="action">
            <button mat-raised-button color="warn" (click)="onViewTenants()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!tenantForm.valid" (click)="save()">Save</button>

        </div>
    </div>
</div>
