.m-label {
    font-size: 1.3em;
    font-weight: 600;
}

h3 {
    font-size: 0.7em;
    color: rgb(97, 97, 97)
}

.m-data {
    font-size: 1.25em;
    font-weight: 600;
}

.new-meter {
    font-size: 1.1em;
    font-weight: 600;
}

#logo img {
    height: 10px;
    width: 60px;
}

#changeForm {
    margin: 0 auto;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
    padding: 20px 45px 45px 45px;
    margin-bottom: 5px;
}

#dataForm {
    width: 100%;
}

.action {
    margin-top: 5px;
    text-align: center;
}

.action button:not(:first-child) {
    margin-left: 7px;
}

.pager-wrapper {
    margin-left: 50px !important;
    padding-bottom: 50px !important;
}

.heading {
    text-align: left;
    font-size: 2.0em;
    margin: 0 auto;
    border: 1px solid silver;
    border-radius: 2px;
    padding: 35px 45px 45px 45px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.data {
    font-size: 0.8em;
    padding-left: 7px;
}

.section-fixed {
    border: 1px solid rgb(210, 210, 210);
    font: 1.2em;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 7px;
    margin-top: 25px;
    color: rgb(97, 97, 97);
}

// ::ng-deep .mat-form-field-underline {
//     display: none;
// }

mat-form-field {
    width: 100%;
    border-radius: 2px !important;
}

label {
    width: 100%;
}

.input-box {
    border: 1px solid rgb(205, 206, 171);
    border-radius: 2px;
    padding: 10px;
    font-size: 1.0em !important;
    transition: border 0.5s ease-in-out;
    color: rgb(151, 151, 151);
    margin: 25px;
}

.generate {
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
}

button {
    margin: 7px;
}

.save-but {
    text-align: right;
}

.foot {
    border: 1px solid transparent;
    margin-bottom: 50px;
}

.generate {
    margin-bottom: 40px;
    float: left;
    text-align: left !important;
}

@media only screen and (min-width: 1024px) {
    .heading,
    form {
        width: 75%;
    }
}

@media only screen and (max-width: 1024px) {
    .heading,
    form {
        width: 75%;
        padding: 20px;
    }
}

@media only screen and (max-width: 896px) {}

@media only screen and (max-width: 768px) {}
