<div [class.dark-theme]="darkTheme">
  <mat-toolbar color="primary" class="main-toolbar " *ngIf="isAuthenticated()">
      <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon color="primary" matTooltip="Click to open/close">menu</mat-icon>
              </button>

      <div class="logo-holder">
          <a routerLink="" class="company-name"> <img src="../assets/images/main-logo.png" class="logo"></a>

      </div>
      <span class="toolbar-spacer"></span>
      <a (click)="logout()" class="toolbar-item">Logout</a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
          <mat-list>

              <mat-list-item (click)="closeNavbar()">
                  <a routerLink="user-list" routerLinkActive="active">
                      <mat-icon>account_box</mat-icon> <span class="nav-label">Users</span>
                  </a>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item (click)="closeNavbar()">
                  <a routerLink="tenant-list" routerLinkActive="active">
                      <mat-icon>group</mat-icon> <span class="nav-label">Tenants</span>
                  </a>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item class="version"><i>Version 1.0.Development_Build</i></mat-list-item>
          </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
