.main-toolbar {
  z-index: 2;
  background: #24262d;
}

.mat-drawer {
  //top: 64px;
  background: #3E4659;
}

.company-name {
  color: white;
}

.mat-drawer .mat-icon {
  font-size: 20px;
  position: relative;
  top: 4px;
}

.mat-drawer .mat-list-item a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 12px 16px;
}

.mat-drawer .mat-list-item a.active {
  background: rgb(11, 111, 177);
}

.mat-drawer .mat-list-item:hover {
  background: rgb(11, 111, 177);
}

.mat-drawer .version {
  background: none !important;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  padding: 0px 16px;
}

.main-toolbar a.toolbar-item {
  color: #0e1e3b;
  text-decoration: none;
  font-size: 13px;
  padding: 0px 16px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgb(11, 111, 177);
}

a.notification {
  padding-top: 10px;
  margin-right: 30px;
  // border: 1px solid rgb(11, 111, 177);
}

a.notification mat-icon {
  font-size: 25px;
  color: rgb(30, 100, 150);
}

a.notification mat-icon:hover {
  color: rgb(50, 120, 170);
  cursor: pointer;
}

.main-toolbar a.toolbar-item:hover {
  background: rgb(11, 111, 177);
  color: #eeeeee;
}

.toolbar-spacer {
  flex: 1 1 auto;
}


/*.sidenav-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: -1;
}*/

.logo {
  display: inline-block;
  height: 40px;
  overflow: hidden;
}

.logo-holder {
  margin-top: 10px;
}

.user {
  align-items: center;
  background-color: rgb(11, 111, 177);
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 0.75em;
  height: 35px;
  justify-content: center;
  margin-right: 7px;
  width: 35px;
}

mat-toolbar {
  background-color: white !important;
  -webkit-box-shadow: 0px 1px 8px -8px #000000 !important;
  box-shadow: 0px 1px 8px -8px #000000 !important;
  border-bottom: 1px solid silver;
}

mat-list-item a {
  font-size: 1.2em !important;
}

.nav-label {
  text-transform: uppercase !important;
  font-size: 0.6em !important;
  letter-spacing: 0.08em;
}

.mat-menu-list {
  margin-top: 20px !important;
  border-bottom: 1px solid silver !important;
  background-color: rgb(205, 27, 27) !important;
}

.cdk-overlay-container .cdk-overlay-pane {
  width: 100%;
  margin-top: 20px !important;
  border-bottom: 1px solid silver !important;
  background-color: rgb(205, 27, 27) !important;
}


/* Pop up dialog */

#popup {
  width: 330px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}

.title {
  margin: 0px;
  padding: 5px 0px;
  font-size: 0.7em;
  color: black;
  border-radius: 2px;
  color: black;
  display: flex;
  width: 100%;
  border-bottom: 1px solid silver;
}

.action-ico {
  font-size: 1.7em;
}

.footer {
  border-top: 1px solid silver;
  display: flex;
  font-size: 0.7em;
  padding-top: 10px;
}

.notice-head {
  display: flex;
}

.dismiss-close {
  text-align: right;
  padding: 7px 7px 0px 0px;
  font-weight: 600;
}

.clear {
  font-size: 1.4em;
  float: right;
}

.notice-item-left {
  flex: 1;
  padding-right: 4px;
}

.notice-item-right {
  flex: 5;
  padding: 0px 4px;
}

.notice-item-actions {
  flex: 2;
  text-align: right !important;
  span {
      padding-left: 3px;
      color: rgb(148, 148, 148);
      font-size: 0.8em;
      visibility: hidden;
  }
  span:hover {
      cursor: pointer;
      cursor: hand;
      color: darkgray;
      text-decoration: underline;
  }
}

.dismiss,
.head {
  flex: 1;
}

.head {
  font-weight: 600;
  padding: 7px;
}

.dismiss {
  text-align: center;
  padding: 7px;
  font-weight: 600;
}

.items p {
  border-top: 1px solid rgb(240, 240, 240);
  color: rgb(100, 100, 100);
  margin: 0px;
  padding: 10px;
  font-size: 0.875em;
  border-radius: 2px;
}

.items p:hover {
  background: rgb(245, 245, 245);
}

.elipse {
  color: black !important;
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.items {
  mat-form-field {
      height: 50px !important;
      width: 98% !important;
  }
  .notice-body {
      font-size: 0.8em;
      padding: 10px 3px;
      display: flex;
  }
  .notice-body:hover {
      background-color: rgb(227, 236, 238);
      .notice-item-actions {
          span {
              visibility: visible;
          }
          .elipse {
              visibility: hidden;
          }
      }
  }
}

.cdk-overlay-pane {
  margin-top: 20px !important;
  border-bottom: 1px solid silver !important;
  background-color: rgb(205, 27, 27) !important;
}
