@import '~@angular/material/theming';

@include mat-core();

$custom-theme-primary:  mat-palette($mat-cyan);
$custom-theme-accent:   mat-palette($mat-pink, A200, A100, A400);
$custom-theme:          mat-light-theme($custom-theme-primary, $custom-theme-accent);

@include angular-material-theme($custom-theme);

$custom-theme-dark-primary:  mat-palette($mat-deep-orange);
$custom-theme-dark-accent:   mat-palette($mat-cyan, A200, A100, A400);
$custom-theme-dark-warn:     mat-palette($mat-yellow);
$custom-theme-dark:     mat-dark-theme($custom-theme-dark-primary, $custom-theme-dark-accent, $custom-theme-dark-warn);

.dark-theme{
    @include angular-material-theme($custom-theme-dark);
}