/* MATERIAL BASE THEME - DO NOT REMOVE*/
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* MATERIAL BASE THEME - DO NOT REMOVE*/

body{
    margin: 0px;
    font-size: 14x;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.error-list{
    border-radius: 2px;
    border: solid 1px #FF5252;
    margin-top: 32px !important;
}

.error-list .mat-subheader {
    background: #FF5252;
}

.error-list .mat-subheader {
    color: #fff;
}

.mat-drawer-content {
    padding: 24px 26px 64px 26px;
}

.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em;
  padding: 0px;
}
