<div class="page-wrapper list-page">
    <div class="list-home">
        <div class="page-name">Tenants</div>

        <!----mat-form-field>
            <mat-icon matSuffix>search</mat-icon><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field-->

        <div class="flex-frame">
            <div class="flex-item">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Search tenants..." aria-label="State" [matAutocomplete]="auto" [formControl]="searchTenantsCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="flex-item">
                <button mat-raised-button color="primary" matTooltip="Create new tenant" (click)="addTenant()"><mat-icon>add</mat-icon>Add Tenant</button>
            </div>
        </div>

        <div class="container mat-elevation-z8">
            <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>

            <table mat-table [dataSource]="dataSourceArray" matSort>
                <li *ngFor="let item of dataSourceArray | paginate: config"> </li>
                <ng-container matColumnDef="tenantName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenant Name </th>
                    <td mat-cell *matCellDef="let tenant" tabindex="1"> {{ tenant.tenantName }} </td>
                </ng-container>
                <ng-container matColumnDef="tenantEnvironmentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenant Environment Name </th>
                    <td mat-cell *matCellDef="let tenant" tabindex="2"> {{ tenant.tenantEnvironmentName }} </td>
                </ng-container>
                <ng-container matColumnDef="users">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Users </th>
                    <td mat-cell *matCellDef="let tenant"> {{ tenant.userCount }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let tenant">
                        <button (click)="viewTenant(tenant)" class="action-icon" mat-icon-button color="primary" matTooltip="Edit record" [matTooltipPosition]="tooltipPosition" focusable="false">
                            <mat-icon class="action-ico edit">edit</mat-icon>
                        </button>
                        <button *ngIf="!tenant.deleted" (click)="openDialog(tenant, 'D')" class="action-icon" mat-icon-button color="primary" matTooltip="Delete record" [matTooltipPosition]="tooltipPosition" focusable="false">
                            <mat-icon class="action-ico delete">delete</mat-icon>
                        </button>
                        <button *ngIf="tenant.deleted" (click)="openDialog(tenant, 'R')" class="action-icon" mat-icon-button color="primary" matTooltip="Re-enable record" [matTooltipPosition]="tooltipPosition" focusable="false">
                            <mat-icon class="action-ico delete_outline">delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-col"></tr>
            </table>

            <div id="paging-container" *ngIf="isRecordsAvailable; else noRecord">
                <div id="page-items">

                    Items per page:
                    <mat-select [(value)]="selected" class="list">
                        <mat-option *ngFor="let option of itemsPerPageOptions" (click)="onSetItemsPerPage(option)" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </div>
                <div id="pagination-component">
                    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event; onPageChange($event)">
                        <div class="custom-pagination">
                            <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                                <span *ngIf="!p.isFirstPage()" (click)="p.previous()" class="arrow">
                                  < Previous
                                </span>
                            </div>
                            <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                <span class="page-label" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                                <div *ngIf="p.getCurrent() === page.value">
                                    <span class="page-label">{{ page.label }}</span>
                                </div>
                            </div>
                            <div class="pagination-next" [class.disabled]="p.isLastPage()">
                                <span *ngIf="!p.isLastPage()" (click)="p.next()" class="arrow">
                                  Next >
                                </span>
                            </div>
                        </div>
                    </pagination-template>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #noRecord>
    <div class="no-records">
        {{ls.get('table.noRecords')}}
    </div>
</ng-template> -->
