.page-name {
    font-size: 2.1em;
    color: rgb(90, 90, 90);
    // font-weight: 600;
}

.page-wrapper {
    margin-bottom: 250px !important;
}

table {
    width: 100%;
}

.row-col:hover {
    background: rgb(248, 252, 255);
}

.action-ico {
    font-size: 1.25em !important;
}

.edit {
    color: rgb(12, 43, 109);
}

.delete {
    color: red !important;
}

table td {
    padding: 0px 16px 0px 0px;
}

table td:first-child {
    padding: 0px 16px 0px 10px;
}

table td:last-child {
    padding: 0px;
}

table td .sub-text {
    font-size: 13px;
    color: gray;
}

.mat-elevation-z8 {
    clear: right;
}

.mat-raised-button {
    float: right;
    margin-bottom: 16px;
}

.list-page {
    width: 80% !important;
    margin: 0 auto;
    padding-top: 5px;
}

td button {
    margin-left: 4px;
}


/* Pagination Component */

#paging-container {
    text-align: center;
    margin-bottom: 15px !important;
    padding: 20px;
}

.list {
    width: 55px;
    margin-left: 5px;
    border-bottom: 1px solid silver;
}

#pagination-component {
    display: inline-block;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 2px;
    margin-left: 20px !important;
}

#page-items {
    color: rgb(84, 84, 84);
    font-size: 0.85em;
    display: inline-block;
}

.custom-pagination {
    margin-top: 0px;
    padding: 5px;
}

#count-total {
    color: rgb(84, 84, 84);
    font-size: 0.85em;
    padding: 17px;
    display: inline;
}

.nav-border {
    display: inline-block;
    // border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
}

.custom-pagination .arrow {
    color: rgb(100, 100, 100) !important;
    margin: 0px 7px;
    font-size: 0.875em;
    font-weight: 100 !important;
}

.custom-pagination .arrow:hover {
    cursor: pointer !important;
    cursor: hand !important;
    color: rgb(50, 50, 50) !important;
}

.custom-pagination .page-number:hover {
    background-color: #f5f5f5;
}

.custom-pagination .page-number {
    display: inline-block;
    background: #e7ebea;
    //  border-right: 1px solid silver;
    color: rgb(70, 70, 70) !important;
    vertical-align: middle !important;
    padding-top: 7px !important;
    height: 22px !important;
}

.custom-pagination .page-number:not(:last-child) {
    border: 1px solid silver;
    margin: 0px 1px;
}

.tab-container {
    border: 1px solid silver !important;
    padding: 10px;
}

.page-label {
    font-size: 0.9em !important;
    color: rgb(70, 70, 70);
}

.page-number.current {
    background: #ffffff !important;
    vertical-align: middle !important;
    color: rgb(12, 12, 12) !important;
    font-weight: 600 !important;
    background-color: rgb(234, 242, 249) !important;
}

.page-number span {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,
.pagination-next {
    display: inline-block;
    font-weight: bold;
}

// End paginagion
// Search box styling
.flex-frame {
    display: flex;
    margin-bottom: 15px;
}

.flex-item {
    flex: 1;
    line-height: 60px;
}

mat-form-field {
    border: 1px solid silver;
    height: 60px !important;
    padding-left: 10px;
    color: gray !important;
}

.input {
    border: 1px solid rgb(158, 180, 201);
    // border-radius: 2px;
    padding: 0px 10px;
    font-size: 1.375em !important;
    transition: border 0.5s ease-in-out;
    color: rgb(151, 151, 151);
}

.input:focus {
    border-color: rgba(81, 203, 238, 1);
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    top: 0.8em;
}

mat-form-field {
    width: 100%;
    border-radius: 2px !important;
     ::ng-deep .mat-form-field-underline {
        display: none;
    }
}

// End search box styling
@media only screen and (min-width: 1400px) {
    .list-page {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .list-page {
        width: 100% !important;
        padding: 20px !important;
    }
}

@media only screen and (max-width: 896px) {
    .list-page {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .list-page {
        width: 100% !important;
    }
}

.no-records {
    text-align: center;
    font-style: italic;
    padding: 15px;
}