<div style="margin: auto;">
    <h1>Edit Security Group</h1>
    <form #createForm="ngForm">
        <mat-form-field class="form">
            <input matInput [(ngModel)]="model.groupName" required placeholder="Enter group name" #groupName="ngModel" id="groupName" name="groupName" [disabled]="busy" minlength="3">
            <mat-hint *ngIf="groupName.invalid && (groupName.dirty || groupName.touched)">
                <mat-error *ngIf="groupName.errors.required">Group name is required</mat-error>
                <mat-error *ngIf="groupName.errors.minlength">Group name must be at least 3 characters</mat-error>
            </mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="OnSubmit()" *ngIf="!busy" [disabled]="!createForm.valid || busy">
            UPDATE SECURITY GROUP
        </button>
        <mat-spinner *ngIf="busy" diameter="30"></mat-spinner>
    </form>
    <br/>
    <button mat-button color="warn" matTooltip="Delete {{model.groupName}}?" *ngIf="!busy" [disabled]="busy" (click)="Delete()">
        Delete Security Group
    </button>
</div>