<h1>Security Groups</h1>
<div class="container mat-elevation-z2">
    <a routerLink="./create" mat-fab matTooltip="Add Security Group"><mat-icon>add</mat-icon></a>
    <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
    <div class="loading-shade" *ngIf="busy">
   </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="securityGroupId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Security Group Id. </th>
            <td mat-cell *matCellDef="let item"> {{ item.securityGroupId }} </td>
        </ng-container>
        <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Security Group Name </th>
            <td mat-cell *matCellDef="let item"> {{ item.groupName }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="5" (page)="pageChange($event)" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>