.container{
    position: relative;
}

.mat-fab{
    position: absolute;
    right: 8px;
    top: -30px;
    z-index: 102;
}

table {
    width: 100%;
}

tr:not(.mat-header-row):hover {
    background: #f5f5f5;
    cursor: pointer;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-progress-bar {
    display: block;
    height: 5px;
    overflow: hidden;
    position: absolute;
    transition: opacity 250ms linear;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 101;
}