.logo {
  background: url('/assets/images/fc-logo2.png') no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: 0 auto;
  // position: absolute;
}

.input {
  color: black !important;
}

.form-container {
  text-align: center;
}

mat-card {
  transition: none !important;
  box-shadow: none !important;
  width: 260px;
  margin: 0 auto;
  border: 1px solid rgb(220, 220, 220);
  padding: 25px;
}

button {
  color: rgb(243, 243, 243) !important;
  border-radius: 2px;
  // background: rgb(11, 111, 177) !important;
  border-radius: 2px !important;
  width: 100% !important;
}

mat-divider {
  color: 1px solid rgb(69, 146, 182);
  border: 1px solid rgb(69, 146, 182);
}

.login-title {
  text-align: center !important;
  padding: 10px;
  color: rgb(107, 107, 107);
  font-size: 0.875em;
  border: 1px solid rgb(69, 146, 182);
  text-transform: uppercase;
}

mat-card-title {
  text-align: center !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.footer {
  padding-top: 14px;
  color: rgb(107, 107, 107);
  font-size: 0.6em;
  margin: 4px 0px 100px 0px;
  line-height: 1.5em;
}

.mat-progress-bar {
  display: block;
  height: 5px;
  overflow: hidden;
  position: absolute;
  transition: opacity 250ms linear;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

mat-form-field {
  margin: 10px 0px;
}

@media only screen and (max-width: 360px) {
  mat-card {
      width: 240px;
  }
}
