<mat-toolbar color="primary" class="main-toolbar mat-elevation-z6">
      <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon matTooltip="Click to open/close">menu</mat-icon>
      </button>
      <a routerLink=""><img src="../assets/images/logo.png" /></a>
      <span class="toolbar-spacer"></span>
      <span class="circle">{{ user.firstName.substring(0,1).toUpperCase() + user.lastName.substring(0,1).toUpperCase() }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
                  <mat-icon>account_circle</mat-icon>
                  <span>Profile</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                  <mat-icon>lock</mat-icon>
                  <span>Logout</span>
            </button>
      </mat-menu>
</mat-toolbar>
