<mat-nav-list role="navigation">
    <a mat-list-item>
        <mat-icon matListIcon>picture_as_pdf</mat-icon>
        <h3 matLine> PDF </h3>
        <p matLine>
            <span> Exports file with *.pdf extension</span>
        </p>
    </a>
    <a mat-list-item>
        <mat-icon matListIcon>insert_drive_file</mat-icon>
        <h3 matLine> Open Docs </h3>
        <p matLine>
          <span> Exports file with *.odt extension</span>
        </p>
    </a>
  </mat-nav-list>